[2019-10-17 10:40] andicooxy opened #1 "Error Database Connection"
[Thu Oct 17 10:33:34 2019] PHP Warning:  Module 'exif' already loaded in Unknown on line 0
[Thu Oct 17 10:33:34 2019] PHP Warning:  Module 'mbstring' already loaded in Unknown on line 0
[Thu Oct 17 10:33:34 2019] PHP Warning:  Module 'pgsql' already loaded in Unknown on line 0
PHP 7.2.19-0ubuntu0.18.04.2 Development Server started at Thu Oct 17 10:33:34 2019
Listening on http://localhost:8000
Docu

[2019-10-17 12:16] mr-phlames commented on #1
Thanks for notifying us on this error
It has been taken care of

[2019-10-17 12:16] #1 closed

[2019-10-24 07:09] aolko opened #2 "Multiple instances?"
Can i have multiple instance of leaf in different dirs?
[code]

[2019-10-24 09:11] aolko opened #3 "Nested mounts example"
How do they work? I keep getting `ArgumentCountError Too few arguments to function {closure}(), 0 passed and exactly 1 expected`

[code]

[2019-10-24 11:32] mr-phlames commented on #2
Thanks for reaching out, yes you can have multiple instances of Leaf in different directories

[2019-10-24 11:47] mr-phlames commented on #2
/
L api/ <- leaf instance 1
  L v1/
  L v2/
L admin-api/ <- leaf instance 2
  L v1/

The instances are treated as separate projects, if there's no link between them...no shared variables...
If you want them to be recognised as the same project, you can create a single file and initialise leaf there....then you require the adminAPI and the userAPI files like this

[code]

_index.php_
[code]

[2019-10-24 12:13] #2 closed

[2019-10-24 12:46] mr-phlames commented on #3
The problem here is that nested sub routes currently don't support dynamic URL patterns, so, you can have instead of your above code, you can have something like this:

[code]

[2019-10-24 12:46] #3 closed

[2019-10-24 13:03] aolko commented on #3
Any ETA on addition of that support?

[2019-10-24 14:13] ahmad-511 opened #5 "Website broken link"
Hello,
In multiple places in your website and under the Next Steps sections there is a link to https://leaf-docs.netlify.com/re-routing-to-index.html (Re-routing to index.php) which leads to Page Not Found

Regards

[2019-10-25 02:14] mr-phlames commented on #5
Thanks for the notice....all the noticed broken links have been fixed

[2019-10-25 02:14] #5 closed

[2020-01-27 07:53] huzhasan opened #14 "function misspelt in session.php"
core/http/session.php/line:129

$this->regenrate(); should read $this->regen**e**rate(); instead

[2020-02-11 17:36] ideerge opened #15 "Composer Doesn't Load"
v1.5.0

`$leaf = new Leaf\Core\Leaf;`

All other composer packages in vendors are working fine.

[2020-03-03 13:22] mr-phlames commented on #15
What version of leaf are you currently using?
Have you tried to reinstall leaf in your project directory?

[2020-03-04 23:21] mr-phlames commented on #14
Thank you, this issue has been fixed

[2020-03-04 23:21] #14 closed

[2020-03-17 21:50] FCardeira commented on #15
I know this is already closed but I have the same problem. I have version 1.3.

[2020-03-17 22:22] ideerge commented on #15
I already wrote the info above, 1.5. I tried everything, never worked, i think i tried different version as well. this is run on EC2 amazon linux

[2020-03-17 22:38] mr-phlames commented on #15
This happens only when hosted?

[2020-03-17 22:39] mr-phlames commented on #15
Or do you experience this problem on localhost as well?

[2020-03-17 23:04] FCardeira commented on #15
I’m experiencing this in localhost...

[2020-03-17 23:16] mr-phlames commented on #15
Can you pls hold on, a fix will be made available in a couple of minutes🙏

[2020-03-18 00:02] mr-phlames commented on #15
Pls try using this for your installation instead
[code]

[2020-03-18 08:59] FCardeira commented on #15
I get this error from composer:

`[InvalidArgumentException]
  Could not find package leafs/leaf in a version matching ^v1.x-dev `

[2020-03-18 10:16] FCardeira commented on #15
It worked, thank you!

[2020-03-18 11:09] mr-phlames commented on #15
Glad I could help😎

[2020-03-18 11:12] #15 closed

[2020-05-14 23:28] Neil-github opened #16 "Can't use Leaf\Http\Cookies in controllers and route handlers"
It seems Cookies can only be set in index.php.

[2020-06-19 10:20] vizarch opened #20 "Docs for templating Not found"
Why https://leafphp.netlify.app/#/2.0/templating/ don't work?

URL is here: https://leafphp.netlify.app/#/2.0/http/response?id=renderpage

[2020-06-19 13:43] mr-phlames commented on #20
Hello Vizarch, sorry about your issue, I'd like to know where you found the first link so I can correct it.

Leaf 2.0 has default support for vein and blade templates. You can find those docs at https://leafphp.netlify.app/#/2.0/views/veins and https://leafphp.netlify.app/#/2.0/views/blade

The second link you gave is not for templating, but for outputting html with correct headers.

Hope this sol

[2020-06-20 23:14] #20 closed

[2020-06-25 13:20] cubeweb opened #26 "Db choose undefined on version 2.1.0"
I am getting PHP Fatal error:  Uncaught Error: Call to undefined method Leaf\Db::choose() after updating to 2.1.0 using

[code]

I had to do this to fix it

[code]

[2020-06-26 07:37] mr-phlames commented on #26
Hello, sorry about your issue.
This error happened because the default query builder `$leaf->db` has been switched from `Leaf\Db\Mysqli` to `Leaf\Db`.

You would now have to use
[code]

Checkout [the docs](https://leafphp.netlify.app/#/2.1/) for more info, happy coding

[2020-06-26 07:41] cubeweb commented on #26
Thank you

[2020-06-26 07:41] #26 closed

[2020-06-26 09:30] chatelain opened #27 "Leaf Request error when sending json object as data"
It seems that Leaf Request doesn't handle json object as data.
For example, with this payload:
`{
    name: toto
    age: 20
    address: {
        name: 'my road'
        number: 18
        town: 'Paris'
    }
}`

I get this fatal error:
Uncaught ErrorException: htmlspecialchars() expects parameter 1 to be string, array given in C:\wamp64\www\api.mecadrive\Leaf\Http\Request.php on line 242

Is th

[2020-06-26 10:29] chatelain commented on #27
For the moment, i have added the following method in Request.php:
[code]

And then replaced the htmlspecialchar return with this method

[2020-06-26 12:01] mr-phlames commented on #27
Hey chatelain, thanks for your comment, this whole issue is caused by the fact that leaf wraps all request data in the htmlspecialchars method without catering for the possibility of arrays.

Just as you've done, a fix will be made available soon. Thanks again for your comment 😇🙏

[2020-06-26 12:08] chatelain commented on #27
Thanks for your reply.
I have modified my sanitize method to return null values because htmlspecialchars returns en empty string in case of null parameter
This is what I get:
[code]

[2020-06-26 12:20] mr-phlames commented on #27
This looks good, after making sure it works in various scenarios, you can open a pull request 😇

[2020-06-26 13:28] chatelain opened #28 "Method to set charset in MySQLi"
I have added the following method to accept accents in file Mysqli.php
[code]

Sorry, don't know how to pull request at the moment

[2020-06-26 13:52] mr-phlames commented on #28
- Just fork this repo
- create a new branch with a name describing what you're doing eg: feature/add-mysqli-charset
- make the changes you want to make
- commit and push to be branch
- compare and pull request from your fork

[2020-06-27 01:34] mr-phlames commented on #27
As promised, a temporary fix was created for this.
You can install it with  `composer require leafs\leaf v2.0.x`

[2020-06-27 01:34] #27 closed

[2020-06-27 15:38] #28 closed

[2020-07-06 06:56] mr-phlames commented on #16
Rewrote the cookies package based on PHP's `setcookie`. From the next release, you'll be able to you'll be able to use cookies from anywhere in your app

[2020-07-06 06:56] #16 closed

[2020-07-11 19:03] diegofer79 opened #34 "Can't create a model with attributes"
Hi, I'm using leaf to an personal proyect, and I discover that if I have a $fillable attribute on a model I can't create one passing that parameter.

<?php
namespace App\Models;
class Genre extends Model
{
  protected $fillable = ['description'];
}
?>

Genre::create(['description' => 'Genre test 1']);
//description isn't populate

thansk!

PS: Sorry if my english isn't good

[2020-07-12 19:11] mr-phlames commented on #34
Hello @diegofer79, thanks for sharing this problem. I personally haven't experienced this issue, and so I'll like a little more information about your setup.

What is the exact error thrown or returned when you try to use Model::create

Also are you using leaf alone, or with a framework like leaf MVC or leaf API?

[2020-07-12 21:15] diegofer79 commented on #34
Hi, I'm using leaf API, maybe I don't have the last version, idk
(vendor/leafs/leaf/changelog sais v2.1.0 - 19th June, 2020)

I have a model "Genre" which extends Model
So, when I seed the database I use:
Genre::create(['description' => 'Genre test 1']);
It doesn't save it on db if I use a not null field on mysql genres table,
if I put valid null on genres table, it is saved but with null value.

[2020-08-11 02:52] wfsdaj opened #35 "Fatal error: Uncaught InvalidArgumentException: Unsupported driver"
I am a Chinese user, can not speak English, or a PHP rookie, this is using Google automatic translation, I apologize first. I encountered an error using the model, What did I do wrong?

My program code:

App\Controllers\UserController.php
[code]

App\Models\User.php
[code]

My database connection：
[code]

[2020-08-11 10:33] mychidarko commented on #35
Hi @wfsdaj, thanks for trying out Leaf. First of all, can you give me some information on your setup? Are you using Leaf on it's own or something like Leaf MVC/Leaf API?

[2020-08-11 10:35] mychidarko commented on #35
Also, Leaf Models run on eloquent, and not `Leaf DB`, that may be one of the reasons you're encountering this problem, but I can't say so just yet, which is why I need a more information on your setup

[2020-08-12 00:42] wfsdaj commented on #35
@mr-phlames thank you for your reply. I use Leaf. I can use the db class normally on the index page.

leaf/index.php

[code]

[2020-08-12 11:34] mychidarko commented on #35
Yes the DB class just provides a simple way to use your database. Something you can work with anywhere in your code without worrying about models and stuff like that. So in that case, is you problem resolved or do you still have issues with the database?

[2020-08-13 01:15] wfsdaj commented on #35
Yes, there are still errors. 😅

[2020-08-13 01:52] mychidarko commented on #35
Can you confirm something for me? Do you have a `.env` file in your setup?

[2020-08-13 03:32] wfsdaj commented on #35
my /.env file

[code]

my /config/app.php

[code]

[2020-08-13 18:07] mychidarko commented on #35
And are you correctly loading the `.env` variables into your code?

[2020-08-14 01:14] wfsdaj commented on #35
I thought the .env file was automatically loaded just like laravel。
How can I load .env file correctly?  require vlucas/phpdotenv？

[2020-08-14 21:32] mychidarko commented on #35
Yeah, that should be the easiest way.

Env files are loaded automatically only if you use something like leaf MVC or leaf API.

[2020-08-19 20:53] #35 closed, assigned to nobody

[2020-09-11 19:50] m1ga opened #36 "Optional patterns: empty first parameter"
When calling this route:
[code]
with `/messages/2` the output/$id is empty. When calling it with `/messages/2/34` it will correctly output 2.

Same happens with the blog route from the example: https://leafphp.netlify.app/#/2.1/routing/sub-patterns. When I add year output like this:
[code]
it will be empty when calling it with one number only.

Is there a way to get the get the first parameter?

[2020-09-16 12:12] mychidarko commented on #36
Hi @m1ga thanks for using leaf and sorry for the delayed response. I believe this is a little problem with the routing system😫 For now, I'd recommend you use another router in your leaf project if you do not find a work around for it.

You can look [here](https://leafphp.netlify.app/#/lucky-charm/routing/?id=%f0%9f%91%8b-using-a-different-router) for an overview on using other routers.

Thanks and

[2020-09-16 21:03] m1ga commented on #36
@mr-phlames thanks for the feedback! I'll try that and give you feedback :+1:

[2020-09-16 21:12] #36 closed, assigned to nobody

[2020-09-30 11:26] aolko commented on #3
Checking in on the issue

[2020-10-05 22:53] mychidarko commented on #3
Hey @aolko thanks for checking in. I believe the render method issue has been fixed, but there's not been much progress on the nested mounts...unfortunately.

[2020-10-06 17:25] aolko commented on #3
Can you provide an ETA on nested mounts?

[2021-01-07 15:12] carromeu opened #38 "Get started with simple Hello World"
I simply has installed Leaf by Composer and trying to run Hello World code, but:

[code]

Any help?

[2021-01-12 16:31] mychidarko commented on #38
Hi, @carromeu thanks for pointing this out. I'll have this updated, thanks and sorry for the inconvenience.

[2021-01-12 18:45] mychidarko commented on #38
You can now update to the latest version, v2.4.1, this will get rid of your problem.🙏

[2021-01-12 18:45] #38 closed, assigned to nobody

[2021-01-17 23:05] nkrumahthis opened #39 "$app->response->respond in index.php:13 does not work"
$app->response->respond does not exist.
Fatal error: Uncaught Error: Call to undefined method Leaf\Http\Response::respond()

I tried to help by creating the respond($data) function in Respond.php but it wouldn't work.

Please be kind, as I'm still figuring stuff out.

[2021-01-20 13:20] mychidarko commented on #39
Hi @nkrumahthis Response::response has been deprecated in the latest versions of Leaf, so you'll have to use $app->response->json instead. You can find out more on this [here](https://leafphp.netlify.app/#/leaf/v/2.4/http/response?id=json). Sorry for not making this clear

[2021-01-20 13:20] #39 closed, assigned to nobody

[2021-01-22 23:47] aolko commented on #3
anything new?

[2021-02-25 22:49] chatelain opened #40 "\Leaf\Util::sanitize null values"
Hello,

I have start a new project with the last leaf.php version.
Very nice growing seed.

I had a problem with the sanitize function, used to get values from http request body.
Getting the null value is very useful I think

Do you think this fix can cause any issues ?
\Leaf\Util::sanitize
L.22    $data = is_null($data) ? null : htmlspecialchars($data, ENT_QUOTES, 'UTF-8');

Thank you
Best regard

[2021-02-26 12:05] mychidarko commented on #40
Hi @chatelain, nice to hear from you again. Actually, `Util::sanitize` doesn't get values from the request body, it simply sanitizes it, and provides some basic security for the data passed into it. So, by the time this method is called, the data from the request has already been retrieved.

The `Leaf\Http\Request` handles the data just as you said above. If the data isn't found it returns `null`.

[2021-02-26 12:05] #40 closed, assigned to nobody

[2021-03-13 10:03] tisseurdetoile opened #41 "Support of sqlite3 in LeafDB"
Hello,

It's not a bug it's a feature request.

Do you plan to add the support of sqlite3 un LeafDB ?

Have a nice day.

[2021-03-15 08:40] mychidarko commented on #41
Hi @tisseurdetoile, thanks for reaching out. I indeed plan on adding sqlite support in Leaf DB in the future, however it may take some time to implement due to other activities like school😭

If however, you want to personally implement this, I'll be glad to see a pull request from you. Thanks.

[2021-03-17 07:04] tisseurdetoile commented on #41
thanks for you reply.
Good luck with school.

[2021-03-17 07:04] #41 closed, assigned to nobody

[2021-04-02 04:03] randytan opened #42 "Response from GET Request Return as Null"
Hi there,

We're following the main tutorial to obtain the GET parameter from the URL and output it to a JSON response.
[code]

Expected response should be like this:
`curl -X GET http://localhost/user?name=test`
[code]

But it keeps throwing out null as the response.

[code]

More information: php-7.4.16 / nginx 1.18.0

Thank you.

[2021-04-02 07:38] mychidarko commented on #42
Hi @randytan, I'll like you to try a few things out for me. Can you pls output `$app->request()->body()` and also  `$_GET["name"]`.

[2021-04-04 08:32] ivan-au opened #45 "Before route middleware not working in v2.4.4"
The before route middleware doesn't work as [indicated in v2.4.4 documentation](https://leafphp.netlify.app/#/leaf/v/2.4.4/routing/middleware). The code below generates error `Call to undefined method Leaf\App::before()`
[code]

[2021-04-05 17:26] mychidarko commented on #45
Hi @ivan-au, thanks for pointing this out. I'm sorry, this escaped me in the recent versions. In the meantime, you can use `$app->add` to load in a middleware which will run before your app does. A permanent fix will be made in the next release. Thanks.

[2021-04-07 16:02] #45 closed, assigned to nobody

[2021-04-08 02:56] randytan commented on #42
Hi @darko-mychi

Sorry for late response.
Output from` $app->request()-body();`

[code]

is `{"name":[],"day":"test"}`

For the `$_GET["name"]` is

[code]

[2021-04-08 08:36] mychidarko commented on #42
Wait a minute😅 I noticed your code contains `$app->get`, but you're using `-X POST`. With -X, you're actually ending up changing the method although it will still behave like a GET request.

I got this to work by simply sending `curl http://localhost:8080/user?name=lol`:

[code]

[2021-04-09 03:24] randytan commented on #42
Hi @darko-mychi

Sorry typo on my end. I have changed the curl command above. I opened the localhost url via browser also get the same empty[] response from leaf.

Thank you.

[2021-04-10 13:47] mychidarko commented on #42
Can you pls post your full code?

[2021-04-14 17:19] bogordesaincom opened #46 "PHP 8 Support?"
When Leaf PHP support php 8?

[code]

[2021-04-14 19:55] mychidarko commented on #46
Hi @bogordesaincom, all other leaf packages will be updated to support php 8 in one of our upcoming releases. However, for now, you can go ahead to directly install Leaf without relying on Leaf CLI.

You can just use composer directly

[code]

Or use Leaf MVC or Leaf API. Thanks☺️

[2021-04-20 22:06] #46 closed, assigned to nobody

[2021-04-20 22:06] #42 closed, assigned to nobody

[2021-05-19 00:34] DominikJoppa opened #48 "Auth - register"
Hi,

I did the registration through authorization and I get this error message.

Can you help me with that?

POST:
`{
    "username": "admin",
    "email": "admin@admin.com",
    "password": "s"
}
`

Error:
`{
    "error": {
        "dev": "Call to a member function bind_param() on bool"
    },
    "code": 500
}`

Code:
[code]

[2021-05-19 01:45] DominikJoppa commented on #48
My fault.

I forgot to add created_at and updated_at to the table.

[2021-05-19 01:45] #48 closed, assigned to nobody

[2021-05-19 08:41] mychidarko commented on #48
Also, if you don't want to add the `created_at` and `updated_at` columns, you can just configure auth with use_timestamps false. See https://leafphp.netlify.app/#/leaf/v/2.5.0/core/auth?id=settings for the details.

[2021-06-11 07:16] pjotrsavitski opened #49 "Issue with charset and collation if mssing from the .env file"
If `DB_CHARSET` or `DB_COLLATION` are missing from the `.env` file, then running console commands will fail with `SQLSTATE[42000]: Syntax error or access violation: 1115 Unknown character set: ''`.

The lines of code to have a default value set in case it is missing or empty don't seem to work as expected:
https://github.com/leafsphp/leaf/blob/v2.x/src/Database.php#L23

The exception clearly indic

[2021-06-11 08:33] mychidarko commented on #49
Thanks for the pull😇

[2021-06-11 08:33] #49 closed, assigned to nobody

[2021-07-12 16:45] jamie-syon opened #52 "Request > Paths"
I'm looking at the "Paths" section here: https://leafphp.netlify.app/#/leaf/v/2.5.0/http/request

As far as I can see the methods for "getRootUri" and "getResourceUri" have yet to be implemented?  Is that correct?

[2021-07-12 17:34] mychidarko commented on #52
Hi @jamie-syon, `Request::getRootUri` and `Request::getResourceUri` were aliases for `Request::getScriptName` and `Request::getPathInfo` respectively and were removed after the v2.1 release. It was a blunder on my part as I forgot to remove these references in the docs. Thanks for pointing this out. I'll have this fixed soon.

[2021-07-12 17:34] #52 closed, assigned to nobody

[2021-07-24 13:40] ivan-au opened #53 "Leaf\Flash::display($key) will throw error if $key has not been set"
### How to reproduce issue
When using static method `Leaf\Flash::display($key)` when `$key` has not been previously set via `\Leaf\Flash::set`, Leaf will throw an error.

### Suggested solution
Modify `Leaf\Flash::display($key)` to return null if `$key` can't be found

[2021-07-24 18:27] mychidarko commented on #53
Hi @ivan-au. Thanks for pointing this out. This will be fixed soon.👍🔥

[2021-08-29 00:27] #53 closed, assigned to nobody

[2021-09-21 15:36] jhintringer opened #54 "Migrations fail"
Hy there. I can't get Migrations running with LeafAPI. It always breaks with error on line 14 (var capsule is invalid).
`php leaf db:install` worked and the database was created successfully.
`php leaf db:migrate` fails.

![leaf_db_migrate_error_capsule](https://user-images.githubusercontent.com/9859818/134201535-fdba1541-167f-4127-a1a7-55a365432291.jpg)

Can you help me with this? Thanks a lot!

[2021-09-22 17:59] mychidarko commented on #54
Hi @jhintringer, sorry about this.  You're right about Leaf v2.6 being the problem, Leaf API is actually supposed to receive an update which hasn't been published yet, so until that's done, pls revert to the prior version of Leaf. Thanks for pointing this out.

[2021-09-26 21:51] #54 closed, assigned to nobody

[2021-10-09 13:47] aanders77 commented on #52
The references are still there, at the bottom of the page.

[2021-10-22 14:42] mychidarko opened #63 "Separate router into leaf router module"
Leaf router's code has exploded beyond a manageable point, being the 2nd longest class with over 700 lines

[2021-10-22 14:46] mychidarko opened #65 "Break leaf auth into subclasses"
Not every part of leaf auth is used in every single app people build. This means there'll be unused code that adds up to the load time of apps. This can be separated into subclasses which can be called on demand.

[2021-10-22 14:48] mychidarko opened #66 "Create pre-defined, ready to go integrations for major modules"
The aim here is to make modules zero-config just as leaf core is. Major modules like logger which require deep integration with leaf should just work without any initialization.

[2021-10-22 14:50] mychidarko opened #67 "Create a standard for functional mode"
Functional mode is new to leaf core but has been present in leaf mvc, leaf API and skeleton. This comes along with a ton of inconsistencies that need to be resolved.

[2021-10-22 16:41] mychidarko commented on #52
Fixed now😇

[2021-10-23 08:07] #63 closed, assigned to nobody

[2021-10-26 10:35] mychidarko opened #71 "Optimise Leaf\App"
Leaf\App is bloated due to a lot of repetitive code matching what is written in leaf router.

[2021-10-26 16:11] #71 closed, assigned to nobody

[2021-10-26 16:11] #67 closed, assigned to nobody

[2021-10-26 16:12] #66 closed, assigned to nobody

[2021-11-07 09:25] mychidarko opened #75 "Redesign leaf error pages"
Create a new theme for leaf 3 errors

[2021-11-07 09:26] #75 closed, assigned to nobody

[2021-11-07 09:28] #65 closed, assigned to nobody

[2021-11-12 23:04] mychidarko opened #78 "Add support for PHP 8 on all leaf packages"

[2021-11-15 09:13] mychidarko commented on #78
#46 fixed now

[2021-11-15 09:13] #78 closed, assigned to nobody

[2021-11-28 00:04] OtaHofmann opened #84 "Malformed JWT"
**Describe the bug**
I just found out that there is a problem with the deformed JWT.
The JWT library throws an error that must be caught.

I found a problem in Authentication.php: 116 (version 2.X)
You can fix it as follows.

try {
  $payload = JWT::decode ($ token, $ secretPhrase, ['HS256']);
  if ($ payload! == null) return $ payload;
} catch (\ DomainException $ exception) {
  self :: $ errorsA

[2021-11-28 06:03] mychidarko commented on #84
Hi @OtaHofmann. Thanks, I'll look into this and have it resolved 🙏

[2021-12-02 14:29] mychidarko opened #85 "Something"
ygftygy

[2021-12-12 23:32] pabloelcolombiano opened #88 "Is Leaf tested?"
Hello!

Thanks for your work.

My colleagues and I are willing to give Leaf a try. However I cannot see any tests. Is the framework tested in some ways?

[2021-12-13 07:54] mychidarko commented on #88
Hi @pabloelcolombiano. There are no written tests in the project as of now, however, we do plan to include tests in the next release. And with the inclusion of modules, each piece of code will be well tested.

For now, however, Leaf has had thousands of downloads from composer alone, most of which build real-world apps and APIs. Also, we always make sure to test Leaf over and over in production-re

[2021-12-13 07:55] #88 closed, assigned to nobody

[2021-12-17 12:39] mychidarko commented on #84
Fixed in v3 and will also be available in the next v2 release 😇

[2021-12-17 12:39] #84 closed, assigned to nobody

[2021-12-19 20:50] mychidarko commented on #88
Hi @pabloelcolombiano, just as promised, tests have been pushed on v3, more are being written as well.

[2021-12-20 20:09] Awilum opened #94 "Please declare strict_types = 1"
best answer, why:
https://stackoverflow.com/a/48723830

[2021-12-21 19:14] #94 closed, assigned to nobody

[2022-01-10 21:39] rittjom opened #108 "Add support for PHP 8.1"

[2022-01-11 20:57] mychidarko commented on #108
Hi @rittjom. This has already been taken care of since the last RC. However, there's been no release since then. You can switch to leaf 3 dev for immediate support or wait for the next release. Thanks.

[2022-01-11 20:57] #108 closed, assigned to nobody

[2022-01-11 20:58] Kristories opened #110 "Follow standards"
**Is your feature request related to a problem? Please describe.**
Follow standards

**Describe the solution you'd like**
- PHP-CS fixer setup for maintaining coding styles and standard
- Github workflow for PHP-CS fixer
- Refactoring code

**Describe alternatives you've considered**
🙅🏼

**References**
- Symfony
- [PHP-FIG](https://www.php-fig.org)

**Additional context**
🙅🏼

[2022-01-11 21:59] #110 closed, assigned to nobody

[2022-01-20 09:29] mychidarko commented on #108
If you've had this issue in a previous project, pls run this:

[code]

[2022-01-21 21:50] rittjom commented on #108
everything works fine on the dev branch. thank you. sorry my fault!

[2022-02-21 02:10] wfsdaj opened #117 "form validate "noSpaces" invalid"
Form::validate([
  "password" => ["required", "noSpaces"]
]);

No matter whether you enter a space or not, you will be prompted with an error.

[2022-02-21 13:48] mychidarko commented on #117
Which leaf version are you using though?

[2022-02-22 11:51] wfsdaj commented on #117
"require": {
        "leafs/leaf"   : "v3.0-rc.2",
        "leafs/bareui" : "^1.0",
        "leafs/auth"   : "^2.1",
        "leafs/mail": "^1.0"
    },

[2022-02-22 14:06] mychidarko commented on #117
Thanks, looking into it.

[2022-02-23 07:11] ponasromas opened #121 "Unable to start using application"
After fresh installation via composer leaf is not working. Using example code:

[code]
Getting:

`PHP Fatal error:  Uncaught Error: Call to undefined function app()`

Paths are correct. Application just does not work. Using latest version: 3.0 RC2.

P.S. Does the phpmailer should exist by default in 'vendor' directory if I did not install 'mail' module?

[2022-02-23 08:40] mychidarko commented on #121
phpmailer is only required if you install the mail module

[2022-02-23 08:40] mychidarko commented on #121
Also, did you install through composer or GitHub?

[2022-02-23 08:41] ponasromas commented on #121
Yea... Project is very immature. Voided.

[2022-02-23 08:41] #121 closed, assigned to nobody

[2022-02-23 09:38] mychidarko commented on #121
If you install through GitHub, the helpers aren't auto loaded for you, you'll need to link to the helpers file manually.

[2022-06-09 07:44] InfinitumForm opened #128 "Database connection wrong documentation"
Hey guys, great framework. I just start to using it and must say, it is great job!

The documentation [using db module](https://leafphp.dev/docs/introduction/first-app.html#fetching-notes) is wrong.

`$db->connect('127.0.0.1', 'username', 'password', 'dbname');`

Need to be:

`$db->connect('127.0.0.1', 'dbname', 'username', 'password');`

The other things working just fine, I'm testing and buildin

[2022-06-10 11:01] mychidarko commented on #128
Hey @InfinitumForm thanks for pointing this out. It'll be corrected ASAP.

[2022-06-10 12:10] InfinitumForm commented on #128
Thank you!

Also, please explain how to use database objects `.where()`. I not find documentation but was not hard to find into PHP code.

I start building my new web app on your framework for the Geo API purposes and must say is double faster than Laravel and other frameworks I use before. It is perfect solution and when I finish I will share with you more info.

Best regards!

[2022-06-12 08:48] mychidarko commented on #128
The references have been corrected. For the documentation on the `where` block, you can find it [here](https://leafphp.dev/modules/db/v/2/builder.html#select)

[2022-06-12 08:48] #128 closed, assigned to nobody

[2022-07-21 05:27] zerofinding opened #129 "Problem when index.php is moved to public folder (like Laravel & CodeIgniter)"
router always points to base(/), how to fix it?

[2022-07-21 15:43] mychidarko commented on #129
[code]

Try this out

[2022-07-22 08:24] zerofinding commented on #129
from leafs/skeleton
+config
+controllers
...
public
--.htaccess
--index.php
+routes
...
.htaccess

FIX
===============

(public/index.php)
...
$baseDir = dirname(__FILE__);
define('BASE__DIR', dirname($baseDir));
...
app()->setBasePath('/');
...

(config/view.php)
...
'config' => function ($config) {
	app()->template->config('path', BASE__DIR .'/'. str_replace('/', '', $config['views_path']));
},

[2022-07-24 22:48] mychidarko commented on #129
Hi @zerofinding. Has there been any progress with this?

[2022-07-26 11:40] zerofinding commented on #129
yay, I'm planning to use leafsphp instead of Laravel. but at the time of implementation, there are conditions that need to change the leafsphp library at the vendor. So far it works as intended (refactoring).

[2022-07-26 11:40] #129 closed, assigned to nobody

[2022-08-11 01:15] mychidarko opened #130 "Using custom request and response objects"
**Is your feature request related to a problem? Please describe.**
In some case, you would like to add custom methods to the request or response objects. The easiest use case for this would be custom authentication where you would want to attach a user method to the request object.

**Describe the solution you'd like**
A solution that lets users extend the current request and response classes and

[2022-08-11 01:26] #130 closed, assigned to mychidarko

[2022-08-12 16:35] agarzon-orangerine opened #133 "_env not working on CLI"
**Describe the bug**

The helper function _env() relies  on $_ENV validation, preventing the correct use on CLI

**To Reproduce**
Steps to reproduce the behavior:
1. Run the application using injected environments variables (like in docker and docker-compose and kubernetes) and skip the use of .env file (using .env files in clusters and containers is bad practice)
2. debug the content of the conta

[2022-08-13 09:55] mychidarko commented on #133
Hey @agarzon-orangerine, thanks for opening such a detailed issue. I'll confirm the issue and provide a fix for it ASAP.

[2022-08-20 11:06] mychidarko commented on #133
@agarzon-orangerine An update has been pushed for this.

[2022-08-20 11:06] #133 closed, assigned to nobody

[2022-08-22 18:45] ahmedaabuwarda opened #136 "Negative images"
Hello leaf,

This is soo cool. It is simple and light.
I loved it.
But I think the negative image on the Landing page is a BAD user experience.

Thanks

[2022-08-22 20:53] mychidarko commented on #136
Thanks for pointing it out @ahmedaabuwarda

[2022-08-22 20:57] ahmedaabuwarda commented on #136
You are welcome.

[2022-08-22 21:08] mychidarko commented on #136
It's been fixed now, thanks

[2022-08-22 21:12] #136 closed, assigned to mychidarko

[2022-08-26 20:35] agarzon-orangerine opened #137 "Logger not working"
**Describe the bug**
Looks like the logger is not working, followed the instructions in the doc.

**To Reproduce**
Just by adding this line, to test the logger :
`app()->logger()->info('Hello');`

**Expected behavior**
It should create and write the log file (it is enabled and well defined in *config/app.php*, I'm using the core template v3), and yes
"leafs/logger" is installed via composer.

**Ad

[2022-08-26 20:35] agarzon-orangerine opened #141 "Logger not working"
**Describe the bug**
Looks like the logger is not working, followed the instructions in the doc.

**To Reproduce**
Just by adding this line, to test the logger :
`app()->logger()->info('Hello');`

**Expected behavior**
It should create and write the log file (it is enabled and well defined in *config/app.php*, I'm using the core template v3), and yes
"leafs/logger" is installed via composer.

**Ad

[2022-08-26 22:19] mychidarko commented on #137
Which template exactly is that @agarzon-orangerine? Leaf MVC, Leaf API or skeleton, or you scaffolded a basic Leaf app with Leaf CLI?

[2022-08-26 22:19] mychidarko commented on #141
Which template exactly is that @agarzon-orangerine? Leaf MVC, Leaf API or skeleton, or you scaffolded a basic Leaf app with Leaf CLI?

[2022-08-26 23:35] agarzon-orangerine commented on #137
using leaf cli

On Fri, Aug 26, 2022, 6:20 p.m. Michael Darko ***@***.***>
wrote:

[2022-08-26 23:35] agarzon-orangerine commented on #141
using leaf cli

On Fri, Aug 26, 2022, 6:20 p.m. Michael Darko ***@***.***>
wrote:

[2022-08-27 00:47] mychidarko commented on #137
Can you maybe leave a screenshot of your directory structure? I'll check on replicating your issue

[2022-08-27 00:47] mychidarko commented on #141
Can you maybe leave a screenshot of your directory structure? I'll check on replicating your issue

[2022-08-29 13:45] agarzon-orangerine commented on #141
I was able to reproduce the problem with a fresh brand new leaf project:

[code]

`leaf create leaf-test --api --v3`
`cd leaf-test`
`leaf serve`

Add this line to the router:
[code]

Same error.
`Error thrown with message "Cannot use object of type Leaf\Helpers\Container as array"

Stacktrace:
#11 Error in /home/agarzon/GIT/leaf-test/vendor/leafs/leaf/src/App.php:168
#10 Leaf\App:Leaf\{closure} in

[2022-08-29 14:46] mychidarko commented on #141
Thanks. This is very helpful

[2022-09-06 05:49] Jarvie127 opened #138 "A newly installed Leaf v3 will output a 1 at the last character after running"
<img width="506" alt="2022-09-06 13 48 16" src="https://user-images.githubusercontent.com/27297429/188556538-22f3cdf6-f014-47e9-b7bd-bc1024c5a30c.png">

[2022-09-06 09:36] mychidarko commented on #138
Hi @Jarvie127. I'll check it out

[2022-09-06 14:43] jeijei4 opened #139 "Error: Cannot use object of type Leaf\Helpers\Container as array"
https://github.com/leafsphp/leaf/blob/e9fc4e34fb1569f957babfdf38c151475c156f20/src/App.php#L168

![image](https://user-images.githubusercontent.com/21228328/188675066-cc045b28-20c2-482b-b31b-03aba95d685c.png)

[2022-09-06 17:58] mychidarko commented on #139
See #141

[2022-09-06 17:58] #139 closed, assigned to nobody

[2022-09-06 17:59] mychidarko commented on #141
This issue has been fixed by @jeijei4. A patch release will be up soon to fix this. Thanks

[2022-09-06 18:00] #141 closed, assigned to nobody

[2022-09-07 23:47] jeis4n opened #142 "Cannot use object of type Leaf\Exceptions\FrameCollection as array"
**Describe the bug**
An error occurs when generating an error:
Cannot use object as array in /vendor/leafs/exception/src/Exceptions/Inspector.php:219.

https://github.com/leafsphp/exceptions/blob/9f9728a7cbd01c1a51697dc8272a621856436f6b/src/Exceptions/Inspector.php#L219

**To Reproduce**
[code]
![image](https://user-images.githubusercontent.com/112980298/188999178-9722c45e-edf3-4b8e-8294-0f254de51

[2022-09-08 12:19] mychidarko commented on #142
Sure, I'll look into this issue

[2022-09-08 12:19] mychidarko opened #144 "leafcli not installing"
### Discussed in https://github.com/orgs/leafsphp/discussions/143

<div type='discussions-op-text'>

<sup>Originally posted by **vimkaf** September  8, 2022</sup>
Good day house, I am having some composer troubles when installing leafcli

Command
`composer global require leafs/cli `

Error
 Problem 1
    - Root composer.json requires leafs/cli ^2.4 -> satisfiable by leafs/cli[v2.4.0, v2.4.1, v2.4.

[2022-09-08 14:02] jeis4n commented on #142
Thank you very much!

[2022-09-09 22:44] mychidarko commented on #142
@jeis4n This fix seems to work fine

[2022-09-09 23:07] mychidarko commented on #142
@jeis4n You can open a PR @ https://github.com/leafsphp/exceptions

[2022-09-10 12:32] #142 closed, assigned to nobody

[2022-09-14 19:30] swimitup opened #149 "Fresh API install not working"
Installed locally Leaf 3.
Created a new API project.
Run leaf serv.
The default json code do not show up:

![Screen Shot 2022-09-14 at 1 24 50 PM](https://user-images.githubusercontent.com/12404245/190244609-c85c1c5f-bb52-4aef-88b1-7802a42acc1d.png)

Code:

![Screen Shot 2022-09-14 at 1 22 52 PM](https://user-images.githubusercontent.com/12404245/190244707-252c99f5-73fe-4636-8164-387b2dbef76a.png)

[2022-09-14 22:48] swimitup opened #150 "LogWriter class prepending lines"
The Leaf\LogWriter class is prepending log lines, with double line breaks, which is unusual.

file /vendor/leafs/logger/src/LogWriter.php, lines 50-53:

[code]

I would suggest to change to the linux standard:

[code]

Current log file:

[code]
Suggested log file:

[code]

Easy to read and we can watch log using "tail -f log.log" linux command...

[2022-09-15 00:13] mychidarko commented on #149
Hey @swimitup I'll check this and have it fixed ASAP. Thanks for opening this issue

[2022-09-15 00:16] mychidarko commented on #150
I'll look at these and see what we can implement. Tracks @swimitup

[2022-09-17 22:04] mychidarko commented on #149
This was a wrong version reference. It's been fixed in [this version](https://github.com/leafsphp/leafAPI/releases/tag/v3.0.1) of Leaf API. Your fix was the right one.

[2022-09-17 22:04] #149 closed, assigned to nobody

[2022-09-17 23:55] mychidarko commented on #150
We just released a [new version of Leaf Logger](https://github.com/leafsphp/logger/releases/tag/v1.1.0). This version allows you to configure what type of logs you want in your app. You can do this using the `log.style` key.

[code]

You can now use the `leaf` style

[code]

Or the `linux` style

[code]

[2022-09-17 23:55] #150 closed, assigned to nobody

[2022-09-26 20:23] swimitup opened #152 "debug = false not worked as expected"
If you try to disable debug mode to not show code or more details on-screen when you got an error 500, the .env

`APP_DEBUG=false `

or instruction

` app()->config('debug',false) `

will not prevent the nice debug screen to show up.

![Screen Shot 2022-09-26 at 2 18 30 PM](https://user-images.githubusercontent.com/12404245/192372552-70bbc639-8f0a-4751-a28b-0674ab8450f0.png)

[2022-09-26 20:25] swimitup commented on #152
Code

`app()->config(['debug' => false]);`

will not work either.

[2022-09-26 20:33] swimitup commented on #152
If you set debug to false in _app.php, for example, and var_dump the variable, you will get false. But if you try to var_dump the variable inside App.php class, you will get true:

![Screen Shot 2022-09-26 at 2 31 43 PM](https://user-images.githubusercontent.com/12404245/192374547-5d662d03-320d-4318-bfb8-ac3e4d2f1570.png)

`/Users/julian/uc-api/vendor/leafs/leaf/src/App.php:73:boolean true`

[2022-09-26 21:18] swimitup commented on #152
It seems the "debug" variable is not controlled by the Config::static:$settings array, but from within the /config/app.php script:

![Screen Shot 2022-09-26 at 3 15 47 PM](https://user-images.githubusercontent.com/12404245/192382235-c8b2387c-999c-4104-9a40-d2267b58d513.png)

But still if you define the variable afterwards, in _app.php script, it will not work:

[code]

[2022-09-28 01:59] mychidarko commented on #152
I'll take a look at this

[2022-09-28 21:29] swimitup opened #153 "response()->status(400)"
Not sure if it's a bug.
According to the documentation:

If I put the following code:

[code]

It will display in browser

`HTTP/1.1 200 OK`

Not the expected

`HTTP/1.1 400 BAD REQUEST`

[2022-09-28 22:14] mychidarko commented on #153
`status` doesn't output any information. You need to call it first and then output some information. Something like this:

[code]

[2022-09-29 15:26] #153 closed, assigned to nobody

[2022-09-29 22:43] swimitup opened #154 "Non-existant methods in Request"
The documentation states:

https://leafphp.dev/modules/http/v/2/request.html#resource-uri

[code]

But there's none of these methods in the Request class.

[2022-10-02 15:18] mychidarko commented on #154
@swimitup this is an oversight on the documentation end which was believed to have already been fixed. Thanks for pointing it out. You can refer to this issue #52

[2022-10-02 15:18] #154 closed, assigned to nobody

[2022-10-03 23:18] mychidarko commented on #152
@swimitup  This has been fixed in Leaf's new release. You can run `composer update` in your project to get rid of this error.

[2022-10-03 23:18] #152 closed, assigned to nobody

[2022-10-06 15:34] swimitup opened #158 "Exception: strpos(): Passing null to parameter #1 ($haystack) of type string is deprecated"
If you try to retrieve request body using **request()->body()** and it was sent NULL, an **errorException** will throw:

![Screen Shot 2022-10-06 at 9 20 50 AM](https://user-images.githubusercontent.com/12404245/194356293-07b12f1f-905c-4a99-847e-90a657c6c8c0.png)

According to like 108 on **/leafs/http/src/Request.php**:

[code]

Since there's no Content-Type header on request:

[code]

Headers::g

[2022-10-07 10:24] mychidarko commented on #158
I'll check out the issue @swimitup

[2022-10-10 15:49] quanghits opened #159 "Request not receive value when POST data = 0"
Hi,
I can't receive int value when I send POST data = 0 .

My code:
public function create()
{
        $data = request()->try(["pack", "app", "icon", "type", "url"]);

        if (count($data) != 5) {
            // response()->json(array("status" => false, "message" => "Params is invalid."));
            response()->json($data);
            return;
        }
}

CURL :
curl -X POST http://localhos

[2022-10-10 18:06] mychidarko commented on #159
Hi @quanghits I'll check this out

[2022-10-14 14:07] mychidarko commented on #159
@quanghits This has been fixed. A deploy will be made available soon

[2022-10-14 14:07] #159 closed, assigned to nobody

[2022-10-14 18:23] mychidarko commented on #158
This has been fixed @swimitup. We'll publish a new version real soon.

[2022-10-14 18:23] #158 closed, assigned to nobody

[2022-10-16 13:57] ampmonteiro opened #160 "[Docs] the php modules needed and docker"
**Is your feature request related to a problem? Please describe.**
When i was trying the framework on docker in php base container with composer,
composer  indicate error or missing zip extension

**Describe the solution you'd like**
1. on the page instalation shoud exist section about requirements by mention:
  - version of minimal php
  -  php modules needed to install the framework
2. should ex

[2022-10-16 22:06] mychidarko commented on #160
Hey @ampmonteiro. Thanks for opening this issue. We'll add something like this.

[2022-10-22 18:23] cr34t1ve opened #161 "[Docs] Finish up tutorial"
@mychidarko The current repl tutorial ends at Working with files . Can the tutorial be completed? It feels like the essentials of leaf are missing

[2022-10-22 18:35] mychidarko commented on #161
@cr34t1ve can you work on the description 🙏🏽

[2022-10-26 18:09] cr34t1ve commented on #161
@mychidarko The current repl tutorial ends at _Working with files_ . Can the tutorial be completed? It feels like the essentials of leaf are missing

[2022-10-31 10:55] mychidarko commented on #161
This has been fixed now. https://github.com/leafsphp/docs/pull/38

[2022-10-31 10:55] #161 closed, assigned to nobody

[2022-11-10 00:32] quanghits opened #166 "URL params in POST request has bug."
**Describe the bug**
I send an url with special characters like &. Example: https://example.com/?look=a&real=B
And i receive value: https://example.com/?look=a&amp;amp;real=B

URL encoded wrong.  As above, "&" has been encoded to "**&amp;amp;amp;**"
Thank you!

[2022-11-29 20:46] jeijei4 opened #168 "Boilerplate: Leaf with the Hexagonal Architecture pattern and Domain-Driven Design"
**Describe the solution you'd like**
I would like a boilerplate using Leaf with the Hexagonal Architecture pattern and Domain-Driven Design (without MVC).

**References**
*The following example uses symfony 6, but I would like to remove symfony and use Leaf instead*:
[CodelyTV - hexagonal architecture](https://github.com/CodelyTV/php-ddd-example#-hexagonal-architecture)